body{
    background-image: linear-gradient(to right top, #e81cff, #cb3aff, #ac4aff, #8b54ff, #665bff, #4570ff, #2181ff, #008fff, #00abff, #00c4ff, #00daff, #60efff);
}
.icon{
    width: 60px;
    float: left;
    height: 40px;
    font-family:Whyte Inktrap;
    margin-left: 12px;
  }
  .icon h2,a{
    font-family:Whyte Inktrap;
    margin-bottom:30px;
    margin-top:2px;
    text-decoration: none;
  }
  a:link{
    color: black;
  }
  a:visited{
    color: black;
  }
  a:hover{
    color:black;
  }
  a:active{
    color: black;
  }

.nav nav{
    text-align: right;
    list-style: none;
    margin-top: 27px;
    font-size: 15px;  
    margin-left:470px;
    margin-right:4px; 
}
.nav nav a{
    text-decoration: none;
    color: #151414;
    font-family:Whyte Inktrap;
    padding:19px;
    border:1.5px white;
    border-style: solid;
    border-radius:16px;
    margin-right: 25px;
}
.bu{
    background-color: #ffffff;
    font-family:Whyte Inktrap;
    border: 1px solid white;
    border-radius: 16px;
}
.main2 button{
    background-color: #ffffff;
    font-family:Whyte Inktrap;
    border: 1px solid white;
    border-radius: 16px;
    padding:19px;
    margin-top:-340px;
    margin-left:70px;
}
.first {
    padding: 30px;
}
.first img{
    margin-top: 90px;
    margin-left: 150px;
    filter: drop-shadow(4px 8px rgba(0, 0, 0, 0.2));
    position:relative;
    animation:animateUser 2s linear infinite;
}
@keyframes animateUser{
    50%{
        right:5px;
        top:-5px;
    }
}
.first h1{
    font-family:Whyte Inktrap;
    font-weight:normal;
    font-style:normal;
    font-size: 60px;
    margin-top: 15px;
}
@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Bold.eot');
    src: local('Whyte Inktrap Bold'), local('WhyteInktrap-Bold'),
        url('WhyteInktrap-Bold.eot?#iefix') format('embedded-opentype'),
        url('WhyteInktrap-Bold.woff2') format('woff2'),
        url('WhyteInktrap-Bold.woff') format('woff'),
        url('WhyteInktrap-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
#imgone{ margin-left:  580px;
 margin-top: -190px;
width: 640px;
height: 530px;
}
.ico img{
    width:100px;
    height:90px;
    background-color: #fff;
    border-radius:70px;
    margin-top: -60px;
    margin-left:15px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(80px);
}
.bookone{
    text-align: justify;
    }
.bookone h1{
    font-family: 'Whyte Inktrap';
    text-align: center;
    border-radius: 32px;
    }
#high{
    background-color:rgba(255,255,255,.2);
    border-radius: 14px;
    text-align: center;
}
.feat{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    padding: 10px 35px 10px 10px;
    width:300px;
    height:270px;
    padding:12px;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.feat:hover{
    background: #fff;
    box-shadow:
    0 0 60px 20px #fff,
    0 0 100px 50px #f0f, 
    0 0 140px 70px #0ff; 
}
    .partone{
        margin-left:180px;
    }
    .bookone p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:16px;
        text-align: center;
    }
    .parttwo{
        margin-left: 770px;
        margin-top: -315px;
    }
    .partthree{
        margin-left: 180px;  
    }
    .partfour{
        margin-left: 770px;
        margin-top: -290px;
    }
    .seven{
        font-size: 30px;
        margin-left: 180px;
       
         }
    .eight{
     margin-left: 800px;
    }
    .gif img{
        width: 140px;
        height: 130px;
    }
    .dino{
        margin-left:130px;
         background-color: #fff;
    border:1.5px white;
    border-style: solid;
    border-radius:16px;
    opacity: 0.8;

    }
    .dino h1{
        font-family:Whyte Inktrap;
        font-size:40px;
    }
    .dino p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:25px;
    }
    .dino a button{
    background-color: #111010;
    font-family:Whyte Inktrap;
    border: 1px solid rgb(1, 0, 0);
    border-radius: 16px;
    padding: 15px;
    color: white;
    }
    .dino img{
        width:280px;
        height:280px;
        margin-left:770px;
        margin-top:-190px;
    }
    .footer{
        background-color: #fff; 
        border:1.5px #fff;
        border-style: solid;
        border-radius:12px;
        color: #00265d;
        padding: 15px;
        text-align: center;
        list-style: none;
        font-size: 15px; 
        opacity: 0.8;
    }
    .footer a img{
        width:50px;
        height:50px;
        padding: 12px;
    }
    .foot2 a{
        font-size: 15px;
        text-decoration: none;
        color: #151414;
        font-family:Whyte Inktrap;
        padding:12px;
        margin-right: 25px;
        background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right top, #e81cff, #cb3aff, #ac4aff, #8b54ff, #665bff, #4570ff, #2181ff, #008fff, #00abff, #00c4ff, #00daff, #60efff) border-box;
      color: #313149;
      padding: 13px;
      border: 1.5px solid transparent;
      border-radius: 16px;
      display: inline-block;
        
    }
    .foot2 p{
        font-size: 12px;
    }
    
    