.main{
    font-weight: bold;
    color:black;
    text-align: center;
    padding: 200px;
}
.button{
    text-align: center;


}
#h1{
    font-family:Arial, Helvetica, sans-serif;
    
}
#h4{
    font-style: italic;
    font-size: larger;
}