@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Bold.eot');
    src: local('Whyte Inktrap Bold'), local('WhyteInktrap-Bold'),
        url('WhyteInktrap-Bold.eot?#iefix') format('embedded-opentype'),
        url('WhyteInktrap-Bold.woff2') format('woff2'),
        url('WhyteInktrap-Bold.woff') format('woff'),
        url('WhyteInktrap-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    background: linear-gradient(to right top, #e81cff, #cb3aff, #ac4aff, #8b54ff, #665bff, #4570ff, #2181ff, #008fff, #00abff, #00c4ff, #00daff, #60efff);
}
.icon{
  width: 60px;
  float: left;
  height: 40px;
  font-family:Whyte Inktrap;
  margin-left: 12px;
}
.icon h2,a{
  font-family:Whyte Inktrap;
  margin-bottom:30px;
  margin-top:2px;
  text-decoration: none;
}
a:link{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color:black;
}
a:active{
  color: black;
}

.content{
    background-color: #eff3fa;
    margin-top: 2%;
    border-radius: 4px;
    /* padding-left: 0.5%; */
    padding: 1%;
}
.content p{
    font-size: 17px;
    color: #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    color:rgb(20, 20, 20);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #fff;
        border:1.5px white;
        border-style: solid;
        border-radius:16px;
        opacity: 0.8;
        margin-left: 300px;
        margin-right: 300px;
        border:1.5px white;
        border-style: solid;
        border-radius:16px;
}
.main h1{
    font-family:Whyte Inktrap;
    font-size: 40px;
    text-align: center;
}
.modal-footer{
  text-align: center;
}