body{
    background-color: linear-gradient(to right top, #e81cff, #cb3aff, #ac4aff, #8b54ff, #665bff, #4570ff, #2181ff, #008fff, #00abff, #00c4ff, #00daff, #60efff);
}
.icon{
    width: 60px;
    float: left;
    height: 40px;
    font-family:Whyte Inktrap;
    margin-left: 12px;
}
.icon h2,a{
    font-family:Whyte Inktrap;
    margin-bottom:30px;
    margin-top:2px;
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color:black;
}
a:active{
    color: black;
}
.main{
    margin-left: 400px;
    margin-right: 400px;
    background-color: #fff;
    border:1.5px rgba(255,255,255,.2);
    border-style: solid;
    border-radius:16px;
    opacity: 0.8;
    background: transparent;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#h1{
        font-family:Whyte Inktrap;
        font-weight:normal;
        font-style:normal;
        font-size: 40px;
        margin-right:60px;
    }
@font-face {
        font-family: 'Whyte Inktrap';
        src: url('WhyteInktrap-Bold.eot');
        src: local('Whyte Inktrap Bold'), local('WhyteInktrap-Bold'),
            url('WhyteInktrap-Bold.eot?#iefix') format('embedded-opentype'),
            url('WhyteInktrap-Bold.woff2') format('woff2'),
            url('WhyteInktrap-Bold.woff') format('woff'),
            url('WhyteInktrap-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
#h4{
    font-style: italic;
    color: #fff;
}
#h4 a{
    color: #fff;
}
.form{
    padding:10px;
    font-weight: bold;
}
.button img{
    width:50px;
    height:40px;
}
.ico img{
    width:450px;
    height:390px;
    margin-left:800px;
    margin-top:-310px;
}
.label{
    display: inline-block;
    width:100%;
}
.form input{
    display: inline-block;
}
.inputbox input,button{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    padding: 10px 35px 10px 10px;
    width:100%;
}
.inputbox input::placeholder{
    color: #fff;
}
.inputbox i{
    color: #fff;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    margin-top: 20px;
}
.inputbox button{
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    width:100%;
}